.dialogs {
  display: flex;
  min-height: 100%;
}

.dialogs__list {
  border-right: 1px solid #becee0;
  padding-right: 20px;
  width: 150px;
  flex-shrink: 0;
}

.dialogs__list > *:not(:last-child) {
  margin-bottom: 16px;
}

.dialogs__messagesList {
  padding-left: 20px;
  flex-grow: 1;
}

.dialogs__messageField {
  padding-top: 20px;
}