.message {
  display: flex;
  margin-bottom: 30px;
}

.message > *:first-child {
  margin-right: 20px;
}

.message_his {

}

.message_my {
  flex-direction: column-reverse;
}

.message__ava {
  border-radius: 50%;
  border: 1px solid red;
  overflow: hidden;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.message__text {
  font-size: 18px;
  flex-grow: 1;
}

.message__text > *:last-child {
  margin-bottom: 0;
}
